section.skills .center-circle{
    width: 28%;
    max-width: 550px;
    aspect-ratio: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-sizing: border-box;
    container-name: skillsCircle;
    container-type: inline-size;
    overflow: hidden;
}
section.skills .center-circle:hover{
    cursor: pointer;
}
section.skills .center-circle .skillText{
    text-align: center;
    z-index: 2;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}
section.skills .center-circle h3{
    margin: 0;
    padding: 0;
    display: inline-block;
}
section.skills .center-circle sub{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1vw;
    margin: 0;
    padding: 0;
    display: inline-block;
    align-self: start;
}
section.skills .center-circle #skillTitle{
    color: var(--tileColour);
}
section.skills .center-circle sub, section.skills .center-circle #skillTitle{
    visibility: hidden;
}
section.skills .center-circle .rating-circle{
    aspect-ratio: 1;
    clip-path: circle();
    background: var(--lightBlue);
    position: absolute;
    transition: all 1s ease-in-out;
}
section.skills .center-circle .rating-circle::before{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    background-color: var(--background);
    clip-path: circle();
}
section.skills .center-circle .thin.rating-circle::before{
    width: 97%;
}
section.skills .center-circle .middle.rating-circle::before{
    width: 94%;
}
section.skills .center-circle .thick.rating-circle::before{
    width: 90%;
}
section.skills .tile-container{
    width: calc(30% + 100px);
    max-width: 650px;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    container-name: tileContainer;
    container-type: inline-size;
}
section.skills .tile-container.alternate-axis{
    transform: translate(-50%, -50%) rotate(45deg);
}
section.skills .tile-container .tile-shadow{
    /*filter: drop-shadow(var(--shadowSize) var(--shadowSize) 10px var(--tileColour));*/
    position: absolute;
    width: 16.5%;
    aspect-ratio: 1;
    transition: all 0.22s ease-in-out;
    transform-origin: center;
}
section.skills .tile-container .tile-shadow sub{
    position: absolute;
    display: inline-block;
    opacity: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.22s ease-in-out;
    font-size: 0.8vw;
    margin-top: 7px;
}
section.skills .tile-container .tile-shadow .tile{
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--lightBlue);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transform-origin: center;
    transition: all 0.22s ease-in-out;
}
section.skills .tile-container .tile-shadow .tile::before{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    background-color: var(--tileColour);
    z-index: 1;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
section.skills .tile-container .tile-shadow:hover{
    cursor: pointer;
    scale: 1.2 !important;
}
section.skills .tile-container .tile-shadow:hover sub{
    cursor: pointer;
    scale: 1.2;
    opacity: 1;
}
section.skills .tile-container .tile-shadow .tile::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(107, 117, 117, 0.505), rgba(107, 117, 117, 0.126), transparent);
    z-index: 3;
    opacity: 0.7;
    transform-origin: center;
    transform: rotate(-45deg);
}
section.skills .tile-container .tile-shadow[num="2"] .tile::after {
    transform: rotate(45deg);
}
section.skills .tile-container .tile-shadow[num="3"] .tile::after {
    transform: rotate(-135deg);
}
section.skills .tile-container .tile-shadow[num="4"] .tile::after {
    transform: rotate(135deg);
}
section.skills .tile-container.alternate-axis .tile-shadow[num="1"] .tile::after {
    transform: rotate(0);
}
section.skills .tile-container.alternate-axis .tile-shadow[num="2"] .tile::after {
    transform: rotate(90deg);
}
section.skills .tile-container.alternate-axis .tile-shadow[num="3"] .tile::after {
    transform: rotate(270deg);
}
section.skills .tile-container.alternate-axis .tile-shadow[num="4"] .tile::after {
    transform: rotate(180deg);
}


section.skills .tile-container.alternate-axis .tile-shadow{
    rotate: -45deg;
}
section.skills .tile-container .tile-shadow[num="2"] {
    top: 0;
    right: 0;
}
section.skills .tile-container .tile-shadow[num="3"] {
    bottom: 0;
    left: 0;
}
section.skills .tile-container .tile-shadow[num="4"] {
    bottom: 0;
    right: 0;
}
section.skills .tile-container .tile-shadow .tile[name="python"]{
    background-color: var(--orange);
}
section.skills .tile-container .tile-shadow .tile[name="python"]::before{
    background: url("./Images/pythonIcon.png") center center no-repeat;
    background-color: var(--tileColour);
    background-size: 100%;
}
section.skills .tile-container .tile-shadow .tile[name="c#"]{
    background-color: var(--purple);
}
section.skills .tile-container .tile-shadow .tile[name="c#"]::before{
    background: url("./Images/cSharpIcon.png") center center no-repeat;
    background-color: var(--tileColour);
    background-size: 70%;
}
section.skills .tile-container .tile-shadow .tile[name="c++"]{
    background-color: var(--darkblue);
}
section.skills .tile-container .tile-shadow .tile[name="c++"]::before{
    background: url("./Images/cPlusPlusIcon.png") center center no-repeat;
    background-color: var(--tileColour);
    background-size: 70%;
}
section.skills .tile-container .tile-shadow .tile[name="java"]{
    background-color: var(--red);
}
section.skills .tile-container .tile-shadow .tile[name="java"]::before{
    background: url("./Images/javaLogo.png") center center no-repeat;
    background-color: var(--tileColour);
    background-size: 140%;
}
section.skills .tile-container .tile-shadow .tile[name="html"]{
    background-color: var(--red);
}
section.skills .tile-container .tile-shadow .tile[name="html"]::before{
    background: url("./Images/htmlLogo.png") center center no-repeat;
    background-color: var(--tileColour);
    background-size: 60%;
}
section.skills .tile-container .tile-shadow .tile[name="css"]{
    background-color: var(--darkblue);
}
section.skills .tile-container .tile-shadow .tile[name="css"]::before{
    background: url("./Images/cssLogo.png") center center no-repeat;
    background-color: var(--tileColour);
    background-size: 70%;
}
section.skills .tile-container .tile-shadow .tile[name="js"]{
    background-color: var(--orange);
}
section.skills .tile-container .tile-shadow .tile[name="js"]::before{
    background: url("./Images/jsLogo.png") center center no-repeat;
    background-color: var(--tileColour);
    background-size: 60%;
}
section.skills .tile-container .tile-shadow .tile[name="php"]{
    background-color: var(--purple);
}
section.skills .tile-container .tile-shadow .tile[name="php"]::before{
    background: url("./Images/phpLogo.png") center center no-repeat;
    background-color: var(--tileColour);
    background-size: 80%;
}
@container skillsCircle (width >= 550px){
    section.skills .center-circle h3{
        font-size: 44pt;
    }
    section.skills .center-circle sub{
        font-size: 15pt;
    }
}
@container tileContainer (width >= 650px){
    section.skills .tile-container .tile-shadow sub{
        font-size: 12pt;
    }
}
@media screen and (max-width: 600px){
    section.skills .center-circle{
        position: relative;
        width: 70%;
        margin-bottom: 20px;
    }
    section.skills .center-circle .skillText h3{
        font-size: 10vw;
    }
    section.skills .center-circle .skillText sub{
        font-size: 2.8vw;
    }
    section.skills .center-circle #skillTitle{
        position: relative;
        top: 8px;
        font-size: 8vw;
    }
    section.skills .tile-container{
        height: 70px;
        display: grid;
        grid-template-columns: repeat(4, 70px);
        gap: 20px;
        position: relative;
        box-sizing: border-box;
        width: fit-content;
        margin-bottom: 50px;
        transform: translate(-50%, 0);
        top: 0;
    }
    section.skills .tile-container.tile-container.alternate-axis{
        transform: translate(-50%, 0) rotate(0);
    }
    section.skills .tile-container .tile-shadow{
        position: relative;
        top: 0; 
        left: 0;
        width: 100%;
    }
    section.skills .tile-container.alternate-axis .tile-shadow{
        rotate: none;
    }
    section.skills .tile-container .tile-shadow sub{
        font-size: 2vw;
    }
}