:root {
    --background: #0d0d0d;
    --lightBlue: #50bfb8;
    --orange: #ffb741;
    --purple: #766cab;
    --tileColour: #1a1a1a;
}
@font-face {
    font-family: BebasKai;
    src: url('./bebas_kai/BebasKai.ttf') format('truetype');
}
body {
    background-color: var(--background);
    color: white;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-family: BebasKai;
    font-size: 10vw;
    flex-wrap: wrap;
    margin: 0;
}
h2 {
    font-family: BebasKai;
    font-size: 20pt;
}
h3 {
    font-family: BebasKai;
    font-size: 15pt;
}
a {
    font-family: BebasKai;
    font-size: 2.5vh;
}
nav{
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    top: 25px;
}
nav .hamburger {
    display: none;
    width: 30px;
    height: 30px;
}
nav > div{
    transition: background-color 0.4s ease-in-out;
    background-color: transparent;
    position: relative;
}
nav ul{
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}
nav li{
    text-transform: uppercase;
    display: inline-block;
    margin-right: 15px;
    transition: color 0.25s ease-out;
}
nav li:hover{
    color: var(--lightBlue);
}
nav .switch ul:hover{
    color: lightgray;
}
nav .switch li:hover{
    color: var(--background);
}
.hamburger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
}
.hamburger .top, .hamburger .middle{
    margin-bottom: 5px;
}
nav .switch .hamburger .line{
    background-color: var(--background);
}
nav .switch .hamburger .top{
    transform: rotate(-45deg) translate(-9px, 5px);
}
nav .switch .hamburger .middle{
    opacity: 0;
}
nav .switch .hamburger .bottom{
    transform: rotate(45deg) translate(-9px, -5px);
}
nav .switch ul{
    opacity: 100;
}
nav .switch{
    background-color: white;
}
.logo{
    color: #6d6d6d;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}
nav .logo{
    text-align: center;
}
header{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header .background{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./Images/headerBackground.webp') no-repeat center center;
    background-size: cover;
    opacity: 0.2;
}
header .background::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: 
        linear-gradient(to bottom, #0d0d0d, transparent 100px) top,
        linear-gradient(to top, #0d0d0d, transparent 100px) bottom;
    background-repeat: no-repeat;
    background-size: 100% 100px, 100% 100px;
    z-index: 2;
}
header .title-container{
    position: absolute;
}
header .title-container h1{
    display: inline;
}
section.skills{
    width: 100%;
    height: 700px;
    position: relative;
}
section.skills .center-circle{
    width: 150px;
    aspect-ratio: 1;
    background-color: var(--lightBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: BebasKai;
    font-size: 22pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 150px 50px #50bfb88f;
    border-radius: 50%;
}
section.skills .center-circle:hover{
    cursor: pointer;
}
section.skills .tile-container{
    width: 250px;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.skills .tile-container .tile-shadow{
    filter: drop-shadow(0 0px 10px rgb(20, 20, 20));
}
section.skills .tile-container .tile{
    width: 50px;
    aspect-ratio: 1;
    background: linear-gradient(to top, var(--lightBlue), var(--purple));
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    position: absolute;
}
section.skills .tile-container .tile::before{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    background-color: var(--tileColour);
    z-index: 1;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
section.skills .tile-container.alternate-axis{
    transform: translate(-50%, -50%) rotate(45deg);
}
section.skills .tile-container .tile[num="2"]{
    top: 100%;
    transform: translateY(-100%);
}
section.skills .tile-container .tile[num="3"]{
    left: 100%;
    transform: translateX(-100%);
}
section.skills .tile-container .tile[num="4"]{
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}
section.skills .tile-container .tile[name="python"]::before{
    background: url("./Images/pythonIcon.png") center center;
    background-color: var(--tileColour);
    background-size: 100%;
}