:root {
    --background: #0d0d0d;
    --lightBlue: #50bfb8;
    --orange: #ffb741;
    --purple: #7a52aa;
    --tileColour: #1a1a1a;
    --red: rgb(223, 14, 14);
    --darkblue: rgb(18, 138, 230);
    --shadowSize: -10px;
    --negShadowSize: 10px;
    --backShadowSize: 12vw;
}
@font-face {
    font-family: BebasKai;
    src: url('./bebas_kai/BebasKai.ttf') format('truetype');
}
body {
    background-color: var(--background);
    color: white;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-family: BebasKai;
    font-size: 10vw;
    flex-wrap: wrap;
    margin: 0;
}
h2 {
    font-family: BebasKai;
    font-size: 4vw;
}
h3 {
    font-family: BebasKai;
    font-size: 3vw;
}
h4 {
    font-family: BebasKai;
    font-size: 1.5vw;
}
a {
    font-family: BebasKai;
    font-size: 2.5vh;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}
sub{
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
}
nav{
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    top: 25px;
}
nav .hamburger {
    display: none;
    width: 30px;
    height: 30px;
}
nav > div{
    transition: background-color 0.4s ease-in-out;
    background-color: transparent;
    position: relative;
}
nav ul{
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}
nav li{
    text-transform: uppercase;
    display: inline-block;
    margin-right: 15px;
    transition: color 0.25s ease-out;
}
nav li:hover{
    color: var(--lightBlue);
}
nav .switch ul:hover{
    color: lightgray;
}
nav .switch li:hover{
    color: var(--background);
}
.hamburger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
}
.hamburger .top, .hamburger .middle{
    margin-bottom: 5px;
}
nav .switch .hamburger .line{
    background-color: var(--background);
}
nav .switch .hamburger .top{
    transform: rotate(-45deg) translate(-9px, 5px);
}
nav .switch .hamburger .middle{
    opacity: 0;
}
nav .switch .hamburger .bottom{
    transform: rotate(45deg) translate(-9px, -5px);
}
nav .switch ul{
    opacity: 100;
}
nav .switch{
    background-color: white;
}
.logo{
    color: #6d6d6d;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}
nav .logo{
    text-align: center;
}
header{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header .background{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./Images/headerBackground.webp') no-repeat center center;
    background-size: cover;
    opacity: 0.2;
}
header .background::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: 
        linear-gradient(to bottom, #0d0d0d, transparent 100px) top,
        linear-gradient(to top, #0d0d0d, transparent 100px) bottom;
    background-repeat: no-repeat;
    background-size: 100% 100px, 100% 100px;
    z-index: 2;
}
header .title-container{
    position: absolute;
}
header .title-container h1{
    display: inline;
}
section.skills{
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    /*background: radial-gradient(circle at center, var(--lightBlue), transparent 40%) no-repeat;*/
    background-size: contain;
}
section.skills::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("") no-repeat center center;
    background-size: cover;
    z-index: -1;
    opacity: 0.4;
}
section.projects{
    width: 100%;
    height: 100vh;
    padding: 50px 30px 50px 30px;
    box-sizing: border-box;
}
section.projects .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 50px;
}
section.projects .title h2{
    margin: 0 0 10px 0;
}
section.projects .title .line{
    height: 4px;
    width: 20vw;
    background-color: var(--lightBlue);
}
section.projects .tile-container{
    display: flex;
    gap: 20px;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
}
section.projects .tile{
    width: 250px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    aspect-ratio: 1.1;
    background-color: transparent;
}
section.projects .tile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.projects .tile .text{
    background-color: var(--tileColour);
    padding: 15px;
    color: lightgray;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
section.projects .tile .text h4{
    margin: 0;
    font-size: 3vw;
}
section.projects .tile .text p{
    font-size: 1.3vw;
    color: gray;
    margin: 2px 0 2px 0;
    font-family: 'Roboto', sans-serif;
}
section.footer{
    padding: 15vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: rgb(34, 34, 34);
}
section.footer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}